@import "http://fonts.googleapis.com/css?family=Open+Sans:400";

body {
  background-color: #eceef1;
  margin: 0;
  position: relative;
}

*{
  box-sizing: border-box;
}

.site-container {
    width: 910px;
    margin: 0 auto;
    box-sizing: border-box
}
.home-container{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.white-logo {
  fill: #fff;
}
.blue-logo {
  fill: #036aed;
}
.dark-logo {
  fill: #333333;
}
a:link {
  cursor: pointer;
  text-decoration: none;
  transition: all ease .2s;
  color: #036aed;
}

a:visited {
  cursor: pointer;
  text-decoration: none;
  transition: all ease .2s;
  color: #036aed;
  text-align: center;
  padding: 0 20px 0 20px;
}

a:hover {
  color: #000;
  cursor: pointer;
  transition: all ease .2s;
}

a:active {
  color: #000;
  cursor: pointer;
  transition: all ease .2s;
}

p {
  color: #737f8d;
  font-family: Open Sans;
  letter-spacing: .01em;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
  line-height: 1.7;
  margin: 0 auto;
}

h1 {
  font-family: Open Sans;
  font-size: 2rem;
  font-weight: 100;
  margin: 0 auto !important;
}

h2 {
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 auto !important;
}

h3 {
  font-family: Open Sans;
  font-size: 1.2rem !important;
  font-weight: 400;
  margin: 0 auto !important;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
  width: 100%;
  font-family: inherit;
  color: rgb(130, 139, 152)!important;
  box-sizing: border-box;
  -webkit-appearance: none;
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  height: 2.3125rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  background: #edeef2 !important;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(236, 238, 241) !important;
  border-image: initial;
  border-radius: 3px;
  transition: all 0.1s ease-in;
  box-shadow:none !important;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea{
  background: #edeef2 !important;
  border-color: #036aed !important;
  outline: none;
}

.default{
  margin-top: 30px;
}

.method #add, .method #remove , .ingredients #add, .ingredients #remove{
  float: left;
  margin-right: 15px;
}

div.message{
  background-color: #71baee;
  line-height: 45px;
}

/* Navbar */
.header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .06);
    background: #fff;
    margin: 0 0 20px 0
}

.navbar {
    height: 60px;
    display: block;
    line-height: 1.5;
    padding:0;
    margin: 0 auto;
    width: 100%;
    background-color: #036aed;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    height: 60px;
    display: flex;
    padding: 0;
    float: left
}

.navbar ul li {
    float: left;
    line-height: 60px;
    height:60px;
    font-family: Open Sans;
    font-size: 14px;
    width: inherit;
    margin: 0;
}
.navbar .coming-soon{
    background-color: rgba(146, 153, 162, 0.49) !important;
    cursor:not-allowed !important;
}
.sub-nav ul{
    list-style-type: none;
    margin: 0;
    height: 50px;
    display: flex;
    padding: 0;
    float: left
}
.sub-nav ul li{
    float: left;
    line-height: 50px;
    font-family: Open Sans;
    font-size: 14px;
    width: inherit;
    margin: 0;
}
.navbar ul li a:link, .navbar ul li a:visited {
    text-align: center;
    padding: 20px;
    color: #fff;
    height: 60px;
}
.sub-nav ul li a:link, a:visited{
  padding: 16px;
  height: 50px;
}

.navar .right a:link, .navbar .right a:visited{
  color:#fff;
}

.navbar ul li:hover {
    color: #fff;
    transition: all 10ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    background-color: #0b66da
}
.navbar button{
    margin: 10px;
    height: 40px;
    background-color: #0f65d1;
    padding: 2px 20px;
}
.sub-nav ul li:hover{
  color: #000;
  transition: all 10ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  background-color: #f9f9f9;
}
.sub-nav .right a:link, .sub-nav .right a:visited{
  color:#036aed;
}
.navlogo {
    margin: 0;
    float: left;
    height: 60px;
    padding: 0 20px 0 20px;
}
.navlogo:hover{
    transition: all 10ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    background-color: #0b66da
}

a:link, a:visited{
  color:#036aed;
}

.sub-nav {
    width: 100%;
    height: 50px;
    display: block;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
}

.content{
  padding: 0;
  margin: 0;
}

fieldset legend{
  margin: 0;
  background-color: none;
  border:none;
  padding: 0 0 1em 0;
  font-weight: 300;
}
label{
  color: #5d6673;
}
.large-offset-4, .large-9{
    width: 910px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding:30px;
    margin-top: 30px;
}
#register-button{
  margin-left: 4px;
    display: inline-block;
    padding: 2px 8px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    white-space: nowrap;
    background-color: #205bb3;
    border-radius: 3px;
}
.large-offset-4{
  margin-left: 0 !important;
}
fieldset{
  margin-bottom: 30px;
}
.container{
  width: 910px;
}
.panel{
  background-color: #fff;
  border:none;
}
form{
    background-color: #fff;
    border:none;
}

/*Button*/
button, .button{
    display: inline-block;
    padding: 2px 30px;
    height: 50px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    white-space: nowrap;
    background-color: #036aed;
    border-radius: 3px;
}
button:hover, button:focus, .button:hover, .button:focus{
  background-color:#0b66da;
}
.form button:hover, .form button:focus{
  background-color:#0b66da;
}
.form button, html button[type="button"], .form button[type="reset"], .form button[type="submit"],button[type="submit"],input[type="submit"]{
  width: 100%;
  text-transform: none;
}
label {
    color: #036aed;
}

/* Profile Page Style */
.profile-header{
  width: 100%;
  height: 300px;
  background-color: #205bb3;
  display:flex;justify-content:center;align-items:center;
}
.profile-header h1{
  color: #fff;
}

/*About Page*/
.banner{
  position: relative;
  height: 200px;
  background: linear-gradient(270deg, #00d0ff, #036aed);
}

/*Recipe Page*/
.time{
  margin-top: 15px;
  min-height: 75px;
}
.timeinput{
    width: 90px!important;
}
.view .cooktime, .view .preptime{
  float: left;
  margin-right: 30px;
  padding: 10px;
  border-radius: 3px;
  background-color: #eceef1;
}
.view .parent_id{
  margin: 15px 30px 0 0;
  padding: 10px;
  border-radius: 3px;
  background-color: #eceef1;
  max-width: 210px;
}
.view .parent_id {
  margin: 15px 30px 0 0;
  padding: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #eceef1;
  max-width: 210px;
}
.form .cooktime ,.form .preptime{
  float: left;
  margin-right: 30px;
}
.method{
  margin-top: 30px;
}
.form .method .title, .form .ingredients .title{
  margin-bottom: 10px;
}
.ingredients{
  margin-top: 100px;
}
.ingredients .bubble{
    display: inline-block;
    padding: 5px 8px;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 12px;
    background: #eceef1;
    color: #3e4551;
    -webkit-transition: background .1s ease-in;
    transition: background .1s ease-in;
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
}
fieldset legend{
  line-height: inherit;
}

/*Recipe View */
.view .ingredients{
  margin: 30px 0 0 0;
}

/*Recipe List*/
.main-title {
    padding: 20px 20px 20px 30px;
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #eceef1;
}
.project-list-item {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #eceef1;
    overflow: hidden;
}
.project-list-item:hover {
    background-color: #f9f9f9
}
.recipes-content{
  display: block;
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 30px 0 0 0;
}
.project-list-item .content-wrap {
  width: 40%;
  float: left;
  position: relative;
  margin-right: 4%;
}
.project-list-item .content-wrap-alt {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #eceef1;
    overflow: hidden;
}
.project-list-item .action {
    width: 6%;
    height: 100px;
    border-left: 1px solid #eceef1;
    float: right;
    position: relative;
}
.project-list-item .content{
    padding: 20px 0;
    position: relative;
    z-index: 2;
    width: 100%;
}
.project-list-item .description{
  margin-top: 5px;
    display: inline-block;
}
.project-list-item .description p{
  font-size: 0.8em;
}
.project-list-item .extra p{
  font-size: 0.8em;
  display: inline-block;
}
.project-list-item h2{
  font-family: Open Sans;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 auto;
}
.project-list-item h4 {
    font-family: Open Sans;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 auto;
    color: #036aed;
}
.project-list-item .user{
  float: left;
  height: 100px;
  width: 12%;
  display:flex;justify-content:center;align-items:center;
}
.user-block{
  width: 50px;
  height: 50px;
  border-radius: 40px;
  background-color: #eceef1;
  display:flex;justify-content:center;align-items:center;
}
.user-block p a:link, .user-block p a:visited{
  color: #fff;
}

/*Register User / Login User*/
.register, .login{
    width: 910px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 30px 200px;
}
.blue{
  background-color: #036aed;
}
.red{
  background-color: #ff3a2f;
}
.green{
  background-color: #4cd964;
}
.orange{
  background-color: #ff9500;
}
.yellow{
  background-color: #ffcc00;
}
.pink{
  background-color: #ff2d55;
}
.cc-selector{
  height: 50px;
  margin-top: 30px;
}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
            display: none;
}
.cc-selector input[type="checkbox"]+label, input[type="radio"]+label{
  margin-left: 0;
  margin-right: 42px !important;
}

.cc-selector input:active +.col{opacity: .9;}
.cc-selector input:checked +.col{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
    border-style: solid;
  border-width: 7px;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-left-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.col{
    width: 50px;
    height: 50px;
    float: left;
    margin:17px;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(.9) opacity(.9);
    -moz-filter: brightness(.9) opacity(.9);
    filter: brightness(.9) opacity(.9);
}
.col:hover{
    -webkit-filter: brightness(1) opacity(1);
       -moz-filter: brightness(1) opacity(1);
            filter: brightness(1) opacity(1);
}
.register input[type="checkbox"]+label, input[type="radio"]+label {
    display: inline-block;
    margin: 0px;
}
/*Homepage*/
.page-head{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/1.jpg);
    border-radius: 3px;
    margin-top: 30px;
}
.page-head .container {
    height: 100%;
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.page-head .content {
    text-align: center;
    padding: 125px 0;
    position: relative;
    z-index: 2;
    width: 100%;
}
.page-head .content h1{
  font-size: 3em;
  font-weight: 600;
  color: #fff;
}
.page-head .content p{
  color: #fff;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #036aed;
  width: 340px;
}

/*Footer*/
footer{
  background-color: #fff;
  margin-top: 30px;
}
.footer-logo-container{
  width: 100%;
}
.page-head{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/1.jpg);
    border-radius: 3px;
    margin-top: 30px;
}
footer .container {
    height: 100%;
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}
footer .content {
    text-align: center;
    padding: 60px 0 40px 0;
    position: relative;
    z-index: 2;
    width: 100%;
}
footer .nav{
    display: block;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height: 40px;
    margin-top: 30px;
}
footer .nav ul{
    list-style: none;
}
footer .nav ul li{
  display: inline-block;
    line-height: 24px;
    margin-right: 10px;
}
.subtext{
  height: 50px;
  width: 100%;
  background-color: #eceef1;
  display: flex;
  justify-content: center;
  align-items: center;
}
