@import "http://fonts.googleapis.com/css?family=Open+Sans:400";

body {
  background-color: #eceef1;
  margin: 0;
  position: relative;
}

*{
  box-sizing: border-box;
}
.maincontent{
  min-height: calc(100vh - 332px);
}
.site-container {
    width: 910px;
    margin: 0 auto;
    box-sizing: border-box
}
.home-container{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.white-logo {
  fill: #fff;
}
.blue-logo {
  fill: #036aed;
}
.dark-logo {
  fill: #333333;
}
a:link {
  cursor: pointer;
  text-decoration: none;
  transition: all ease .2s;
  color: #036aed;
}

a:visited {
  cursor: pointer;
  text-decoration: none;
  transition: all ease .2s;
  color: #036aed;
  text-align: center;
  padding: 0 20px 0 20px;
}

a:hover {
  color: #000;
  cursor: pointer;
  transition: all ease .2s;
}

a:active {
  color: #000;
  cursor: pointer;
  transition: all ease .2s;
}

p {
  color: #737f8d;
  font-family: Open Sans;
  letter-spacing: .01em;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  line-height: 1.7;
  margin: 0 auto;
}

h1 {
  font-family: Open Sans;
  font-size: 2rem;
  font-weight: 100;
  margin: 0 auto !important;
}

h2 {
  font-family: Open Sans;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 auto !important;
}

h3 {
  font-family: Open Sans;
  font-size: 1.2rem !important;
  font-weight: 400;
  margin: 0 auto !important;
  color: #333333 !important;
}

h4 {
  font-family: Open Sans;
  font-size: 1rem !important;
  font-weight: 400;
  margin: 0 auto !important;
  color: #333333 !important;
  border: none !important;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea{
  width: 100%;
  font-family: inherit;
  color: rgb(130, 139, 152)!important;
  box-sizing: border-box;
  -webkit-appearance: none;
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  height: 2.3125rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  background: #edeef2 !important;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(236, 238, 241) !important;
  border-image: initial;
  border-radius: 3px;
  transition: all 0.1s ease-in;
  box-shadow:none !important;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea{
  background: #edeef2 !important;
  border-color: #036aed !important;
  outline: none;
}

.default{
  margin-top: 30px;
}

.method #add, .method #remove , .ingredients #add, .ingredients #remove{
  float: left;
  margin-right: 15px;
}

div.message{
  background-color: #71baee;
  line-height: 45px;
}

/* Navbar */
.header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .06);
    background: #fff;
    margin: 0 0 20px 0
}

.navbar {
    height: 60px;
    display: block;
    line-height: 1.5;
    padding:0;
    margin: 0 auto;
    width: 100%;
    background-color: #036aed;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    height: 60px;
    display: flex;
    padding: 0;
    float: left
}

.navbar ul li {
    float: left;
    line-height: 60px;
    height:60px;
    font-family: Open Sans;
    font-size: 14px;
    width: inherit;
    margin: 0;
}
.navbar .coming-soon{
    background-color: rgba(146, 153, 162, 0.49) !important;
    cursor:not-allowed !important;
}
.sub-nav ul{
    list-style-type: none;
    margin: 0;
    height: 50px;
    display: flex;
    padding: 0;
    float: left
}
.sub-nav ul li{
    float: left;
    line-height: 50px;
    font-family: Open Sans;
    font-size: 14px;
    width: inherit;
    margin: 0;
}
.navbar ul li a:link, .navbar ul li a:visited {
    text-align: center;
    padding: 20px;
    color: #fff;
    height: 60px;
}
.sub-nav ul li a:link, a:visited{
  padding: 16px;
  height: 50px;
}

.navar .right a:link, .navbar .right a:visited{
  color:#fff;
}

.navbar ul li:hover {
    color: #fff;
    transition: all 10ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    background-color: #0b66da
}
.navbar button{
    margin: 10px;
    height: 40px;
    background-color: #0f65d1;
    padding: 2px 20px;
}
.sub-nav ul li:hover{
  color: #000;
  transition: all 10ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  background-color: #f9f9f9;
}
.sub-nav .right a:link, .sub-nav .right a:visited{
  color:#036aed;
}
.navlogo {
    margin: 0;
    float: left;
    height: 60px;
    padding: 0 20px 0 20px;
}
.navlogo:hover{
    transition: all 10ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
    background-color: #0b66da
}

a:link, a:visited{
  color:#036aed;
}

.sub-nav {
    width: 100%;
    height: 50px;
    display: block;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
}

.content{
  padding: 0;
  margin: 0;
}

fieldset legend{
  margin: 0;
  background-color: none;
  border:none;
  padding: 0 0 1em 0;
  font-weight: 300;
}
label{
  color: #5d6673;
}
.large-offset-4, .large-9{
    width: 910px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding:30px;
    margin-top: 30px;
}
#register-button{
  margin-left: 4px;
    display: inline-block;
    padding: 2px 8px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    white-space: nowrap;
    background-color: #205bb3;
    border-radius: 3px;
}
.large-offset-4{
  margin-left: 0 !important;
}
fieldset{
  margin-bottom: 30px;
}
.container{
  width: 910px;
}
.panel{
  background-color: #fff;
  border:none;
}
form{
    background-color: #fff;
    border:none;
}

/*Button*/
button, .button{
    display: inline-block;
    padding: 2px 30px;
    height: 50px;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    white-space: nowrap;
    background-color: #036aed;
    border-radius: 3px;
}
button:hover, button:focus, .button:hover, .button:focus{
  background-color:#0b66da;
}
.form button:hover, .form button:focus{
  background-color:#0b66da;
}
.form button, html button[type="button"], .form button[type="reset"], .form button[type="submit"],button[type="submit"],input[type="submit"]{
  width: 100%;
  text-transform: none;
}
label {
    color: #036aed;
}

/* Profile Page Style */
.profile-header{
  background-color: #f9f9f9;
  margin-top: 30px;
}
.profile-header .container{
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 200px;
  background-color: rgba(250, 250, 250, 0.90);
}
.profile-header .content{
  text-align: center;
  padding: 50px 0;
  position: relative;
  z-index: 2;
  width: 100%;
}
.profile-header h2 {
  padding: 10px 0 5px 0;
}
.profile-circle{
  width: 100px;
  height: 100px;
  border-radius: 150px;
  background-color: #fff;
  margin: 0 auto;
  display:flex;justify-content:center;align-items:center;
  filter: none;
  border-style: solid;
  border-width: 7px;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-left-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.profile-circle .fa{
  color: #fff;
}
/*About Page*/
.banner{
  position: relative;
  height: 200px;
  background: linear-gradient(270deg, #00d0ff, #036aed);
}
.about .page-head{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: #ffffff;
  border-radius: 3px;
  border-top: 1px solid #eceef1;
}
.about .content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
.about .content p{
  margin-top: 12px;
  margin-left: 128px;
  margin-right: 128px;
  color: #8a8e94;
  line-height: 1.65em;
  text-align: justify;
  font-size: 0.9rem;
}
.about .content h1{
  margin-bottom: 24px;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  margin: 52px 0 0;
}
.feature-wrapper{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.join-now .about-container{
}
.join-now .feature-wrapper{
  flex-direction: column;
}
.join-now .feature-wrapper h2{
  margin-bottom: 20px !important;
}
.join-now .join-button{
  display: grid;
  height: 50px;
  margin-top: 25px;
}
.join-now a:link, .join-now a:visited {
  padding: 10px 50px;
  background-color: #036aed;
  color: #fff;
  border-radius: 4px;
  border: solid 7px #036aed;
}
.join-now a:link:hover , .join-now a:visited:hover{
  border-style: solid;
  border-width: 7px;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-left-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.join-now {
  width: 100%;
  height: 300px;
}
.join-now .content img{
  width: 400px
}

.header .site-container {
  max-width: 910px;
  width: 90%;
  margin: 0 auto;
  min-width: 320px;
  height: inherit;
  position: relative;
  user-select: none;
}
.header .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header .content img {
  width: 242px;
  height: auto;
}

@keyframes animation {
  0% {
    transform: translate3d(0, -10px, 0);
    animation-timing-function: ease-in; }
  50% {
    transform: translate3d(0, 10px, 0);
    animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0, -10px, 0); } }

.svg-1 {
  position: absolute;
  fill: none;
  stroke: #84b6f6;
  stroke-width: 3;
  stroke-miterlimit: 10;
  left: 15%;
  top: 10%;
  animation-name: animation;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

.svg-2 {
  position: absolute;
  fill: none;
  stroke: #fc9c97;
  stroke-width: 3;
  stroke-miterlimit: 10;
  left: 73%;
  top: 0%;
  animation-name: animation;
  animation-duration: 7.1s;
  animation-iteration-count: infinite; }

.svg-3 {
  position: absolute;
  fill: none;
  stroke: #fce380;
  stroke-width: 3;
  stroke-miterlimit: 10;
  left: 30%;
  top: 50%;
  animation-name: animation;
  animation-duration: 5.2s;
  animation-iteration-count: infinite; }

.svg-4 {
  position: absolute;
  fill: none;
  stroke: #fc9c97;
  stroke-width: 3;
  stroke-miterlimit: 10;
  left: 35%;
  top: 0%;
  animation-name: animation;
  animation-duration: 6.3s;
  animation-iteration-count: infinite; }

.svg-5 {
  position: absolute;
  fill: none;
  stroke: #96e3b7;
  stroke-width: 3;
  stroke-miterlimit: 10;
  left: 70%;
  top: 55%;
  animation-name: animation;
  animation-duration: 5.4s;
  animation-iteration-count: infinite; }

.svg-6 {
  position: absolute;
  fill: none;
  stroke: #ffcc00;
  stroke-width: 3;
  stroke-miterlimit: 10;
  left: 80%;
  top: 30%;
  animation-name: animation;
  animation-duration: 7.5s;
  animation-iteration-count: infinite; }

.svg-7 {
  position: absolute;
  fill: none;
  stroke: #84b6f6;
  stroke-width: 3;
  stroke-miterlimit: 10;
  left: 55%;
  top: 0%;
  animation-name: animation;
  animation-duration: 5.6s;
  animation-iteration-count: infinite; }

.svg-8 {
  position: absolute;
  fill: none;
  stroke: #96e3b7;
  stroke-width: 3;
  stroke-miterlimit: 10;
  left: 20%;
  top: 35%;
  animation-name: animation;
  animation-duration: 6.7s;
  animation-iteration-count: infinite; }



.feature-wrapper-2 .padding-gutter{
  width: 445px;
}
.feature-2 .home-features__block h2{
  animation: logocolour 2s infinite;
}
.feature-wrapper-last{
  margin-bottom: 120px;
}
.feature .text{
    width: 600px;
    padding-left: 100px;
    position: relative;
}
.home .about {
  marign-top:100px;
}
.about-container{
  position: relative;
  z-index: 10;
  max-width: 960px;
  margin: 0 auto;
  width: 100%;
}
.feature-1{
  position: relative;
  background-color: #eceef1;
  width: 100%;
}
.feature-2{
  position: relative;
  background-color: #fff;
  width: 100%;
}
.feature-3{
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
}
.feature-3 ::-webkit-media-controls {
  display:none !important;
}
.feature-4 .home-features__block button{
  background-color: #fff;
  border: solid 1px #333333;
}
.align--middle {
    -ms-flex-align: center;
    align-items: center;
}
.align {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
}
.padding-gutter {
    padding: 15px;
}
.home-features__block {
    width: 600px;
    padding-left: 100px;
    position: relative;
}
.spacing-bottom {
    margin-bottom: 15px;
}
.spacing-top-narrow {
    margin-top: 7.5px;
}
.text-medium {
  font-size: .9rem;
  line-height: 1.85em;
}

/*Recipe Page*/
.time{
  margin-top: 15px;
  min-height: 75px;
}
.timeinput{
    width: 90px!important;
}
.view .cooktime, .view .preptime{
  float: left;
  margin-right: 30px;
  border-radius: 3px;
  background-color: #eceef1;
  display: -webkit-inline-box;
}
.view .cooktime .title , .view .preptime .title{
  padding: 10px 10px;
}
.view .cooktime .value , .view .preptime .value{
  background-color: #fff;
  border: solid 1px #eceef1;
  padding: 10px 10px;
  border-radius: 3px;
}
.view .info .times{
  padding: 10px 0;
  display: flex;
}
.view .parent_id{
  margin: 15px 30px 0 0;
  padding: 10px;
  border-radius: 3px;
  background-color: #eceef1;
  max-width: 210px;
}
.view .parent_id {
  margin: 15px 30px 0 0;
  padding: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #eceef1;
  max-width: 210px;
}
.view .method-container .position{
  float: left;
}
.view .method-container .position{
  padding: 10px 25px;
}
.view .method-container .step{
  margin-bottom: 10px;
}
.view .method-container .description {
  background-color: #f9f9f9;
  padding: 5px;
}
.view .method-container .description p{
  padding: 5px;
}
.form .cooktime ,.form .preptime{
  float: left;
  margin-right: 30px;
}
.method{
  margin-top: 30px;
}
.form .method .title, .form .ingredients .title{
  margin-bottom: 10px;
}
.form .ingredients{
  margin-top: 90px;
  margin-bottom: 30px;
}
.form .version-info p{
  display: inline-block;
}
.form .version-info .version-user a:link, .form .version-info .version-user a:visited{
  color: inherit;
  font-size: 1rem;
  font-weight: 400;
}
.form .version-user{
  display: inline;
}
.ingredients .bubble{
    display: inline-block;
    padding: 5px 8px;
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 12px;
    background: #eceef1;
    color: #3e4551;
    -webkit-transition: background .1s ease-in;
    transition: background .1s ease-in;
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
}
fieldset legend{
  line-height: inherit;
}

/*Recipe View */
.view .ingredients{
  margin: 15px 0 0 0;
}
.view .info .description{
  margin: 15px 0;
  width: 50%;
}
.view .info p{
  /*font-size: 0.9em;*/
}
.view .user{
  display: -webkit-box;
  padding: 10px 0;
}
ul.pagination li.active a {
    background-color: #036aed;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination li a, ul.pagination li button {
    border: solid 1px #ddd;
}

/*Recipe List*/
.main-title {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #eceef1;
}
.main-title button{
    background-color: #f9f9f9;
}
.main-title button:hover{
    background-color: #f2f2f2;
}
.main-title .title{
  float: left;
  width: 50%;
}
.main-title .all-recipes{
  float: right;
  width: 50%;
}
.main-title .all-recipes h3{
  float: right;
}
.home .main-title{
      display: flex;
}
.list-item {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid #eceef1;
    overflow: hidden;
    margin-bottom: 10px;
}
.list-item:hover {
    /*background-color: #f9f9f9*/
}
.recipes-content{
  display: block;
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 30px 0 0 0;
}
.list-item .content-wrap {
  width: 40%;
  float: left;
  position: relative;
  margin-right: 6%;
  margin-left: 4%;
  margin-bottom: 4%;
}
.list-item .content-wrap-alt {
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #eceef1;
    overflow: hidden;
    width: 100%;
}
.list-item .content-wrap-alt .content{
  padding: 0;
}
.version-title{
    width: 100%;
    height: inherit;
    float: left;
    padding-left: 16%;
    background-color: #f9f9f9;
    border-top: solid 1px #f2f2f2;
}
.version-title p{
  display: inline;
}
.version-title p .hightlight{
  color: #f9f9f9;
  
}
.list-item .create-version a:link, .list-item .create-version a:visited {
  width: 100%;
  height: inherit;
  float: left;
  padding: 10px 0;
  padding-left: 16%;
  border: 1px solid rgba(0, 0, 0, 0);
}
.list-item .create-version a:link:hover , .list-item .create-version a:visited:hover{
  transition: all 10ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  background-color: #f9f9f9;
  border: 1px solid;
}
.parent{
    width: 100%;
    height: inherit;
    float: left;
    border-top: solid 1px #f2f2f2;
    padding-left: 16%;
    background-color: #f9f9f9;
}
.child-container{
  width: 84%;
  height: inherit;
  float: left;
  border-top: solid 1px #f2f2f2;
  margin-left: 16%;
  padding: 6px 0;
}
.child-container .name{
    width: 55%;
    height: inherit;
    float: left;
    overflow: hidden;
}
.child-container .version-title{
  width: 20%;
  height: inherit;
  float: left;
}
.child-container .name .fa{
  font-size: 12px;
}
.child-container .child{
    height: inherit;
    float: right;
    padding-right: 39%;
}
.child-container .name a:link, .child-container .name a:visited{
  color: inherit;
  font-size: 0.8em
}
.child-container .child a:link, .child-container .child a:visited{
  color: inherit;
  font-size: 0.8em
}
.child-container .description{
  width: 20%;
  height: inherit;
  float: left;
}
.child-container p{
  display: inline-block;
  font-size: 0.8em;
}
.version-nav .version-title{
  padding-left: 0;
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  padding-bottom: 15px;
}
.version-nav .child-container-alt{
  width: auto;
  height: inherit;
  float: left;
  border: solid 1px #f2f2f2;
  margin-right: 25px;
  margin-left: 0;
  padding: 10px 15px;
}
.version-nav .child-container-alt .name{
  width: auto;
  height: inherit;
  float: left;
  overflow: hidden;
}
.version-nav .child-container-alt .child{
  height: inherit;
  float: none;
  padding-right: 0;
}
.version-nav .create-version{
  float: right;
}
.version-nav button{
  background: #fff;
  border: 1px solid #eceeef;
  padding: 0px 25px;
}
.version-nav button:hover{
  transition: all 10ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  background-color: #f9f9f9;
  border: 1px solid #036aed;
}
.list-item .ingredients {
    width: 38%;
    float: right;
    position: relative;
}
.list-item .ingredients-container{
  height: inherit;
  padding: 20px 20px 0 0;
}
.list-item .ingredients h2{
  margin-bottom: 15px !important;
}
.list-item .content{
    padding: 20px 0;
    position: relative;
    z-index: 2;
    width: 100%;
}
.list-item .description{
  margin-top: 5px;
    display: inline-block;
}
.list-item .description p{
  font-size: 0.8em;
}
.list-item .extra p{
  font-size: 0.8em;
  display: inline-block;
  margin-right: 5px;
}
.list-item h2{
  font-family: Open Sans;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0 auto;
}
.list-item .title a:link, .list-item .title a:visited{
  color:inherit !important;
}
.list-item h4 {
    font-family: Open Sans;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 auto;
    color: #036aed;
}
.list-item .user{
  float: left;
  height: 100px;
  width: 12%;
  padding: 25px 0 0 35px;
}
.user-block{
  border-radius: 50px;
  display: inline-block;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: none;
  border-style: solid;
  border-width: 4px;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-left-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.user-block .fa{
  color: #fff;
}
.user-block a:link, .user-block a:visited{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.user-block:hover{
  transition: all 10ms cubic-bezier(0.250, 0.100, 0.250, 1.000);
  background-color: #f9f9f9;
}
.user-block p a:link, .user-block p a:visited{
  color: #fff;
}
.user-name{
  width: 50px;
  text-align: center;
}
.user-name a link, .user-name a:visited{
  color: inherit;
}

/*Register User / Login User*/
.register, .login{
    width: 910px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 30px 200px;
}
.blue{
  background-color: #036aed;
}
.text-blue{
  color: #036aed;
}
.red{
  background-color: #ff3a2f;
}
.green{
  background-color: #4cd964;
}
.orange{
  background-color: #ff9500;
}
.yellow{
  background-color: #ffcc00;
}
.pink{
  background-color: #ff2d55;
}
.cc-selector{
  height: 50px;
  margin-top: 30px;
}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
            display: none;
}
.cc-selector input[type="checkbox"]+label, input[type="radio"]+label{
  margin-left: 0;
  margin-right: 42px !important;
}

.cc-selector input:active +.col{opacity: .9;}
.cc-selector input:checked +.col{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
    border-style: solid;
  border-width: 7px;
  border-top-color: rgba(0, 0, 0, 0.2);
  border-left-color: rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
}
.col{
    width: 50px;
    height: 50px;
    float: left;
    margin:17px;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(.9) opacity(.9);
    -moz-filter: brightness(.9) opacity(.9);
    filter: brightness(.9) opacity(.9);
}
.col:hover{
    -webkit-filter: brightness(1) opacity(1);
       -moz-filter: brightness(1) opacity(1);
            filter: brightness(1) opacity(1);
}
.register input[type="checkbox"]+label, input[type="radio"]+label {
    display: inline-block;
    margin: 0px;
}
/*Homepage*/
.page-head{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3588f2;
    border-radius: 3px;
}
.page-head .container {
    height: 100%;
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.page-head .content {
    text-align: center;
    padding: 125px 0;
    position: relative;
    z-index: 2;
    width: 100%;
}
.page-head .content h1{
  font-size: 3em;
  font-weight: 600;
  color: #fff;
}
.page-head .content p{
  color: #fff;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #036aed;
  width: 340px;
}

/*Footer*/
footer{
  background-color: #fff;
  margin-top: 30px;
}
.footer-logo-container{
  width: 100%;
}
footer .container {
    height: 100%;
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}
footer a:link, footer a:visited{
    color:#333333;
}
footer a:link:hover, footer a:visited:hover{
    color:#036aed;
}
footer a svg {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}
a svg:hover .blue-logo{
  animation: logocolour 2s infinite;
}
@keyframes logocolour {
  0% {
    fill:#036aed;
    color: #036aed;
  }
  20% {
    fill:#ff3a2f;
    color: #ff3a2f;
  }
  40% {
    fill:#4cd964;
    color: #4cd964
  }
  60% {
    fill:#ff9500;
    color: #ff9500
  }
  80% {
    fill:#ffcc00;
    color: #ffcc00
  }
  100% {
    fill:#ff2d55;
    color: #ff2d55
  }
}
footer .content {
    padding: 40px 0;
    position: relative;
    z-index: 2;
    width: 100%;
}
footer .info{
  width:50%;
  float: left;
  margin-right: 10%;
}
footer .info img{
  width: 25px;
}
footer .nav{
    display: table-caption;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    height: 40px;
    width: 20%;
    /* margin-left: 10%; */
    float: left;
}
footer .nav .title{
    margin: 20px 0 10px 0 !important;
}
footer .nav ul{
  margin: 0;
  width: 108px;
}
footer .info p{
  margin-top: 15px;
  font-size: .9em;
}
footer .nav ul{
    list-style: none;
}
footer .nav ul li{
  display: inline-block;
    line-height: 24px;
    margin-right: 10px;
}
footer .nav a:link, footer .nav a:visited{
  border-bottom: 1px solid #eceef1;
  transition: border-color .15s ease-out;
}
footer .nav a:link:hover, footer .nav a:visited:hover{
  border-bottom: 1px solid #036aed;
  transition: border-color .15s ease-out;
}
footer .info p a:link, footer .info p a:visited{
  border-bottom: 1px solid #eceef1;
  transition: border-color .15s ease-out;
}
footer .info p a:link:hover, footer .info p a:visited:hover{
  border-bottom: 1px solid #036aed;
  transition: border-color .15s ease-out;
}
.subtext{
  height: 50px;
  width: 100%;
  background-color: #eceef1;
  display: flex;
  justify-content: center;
  align-items: center;
}
